<!DOCTYPE html>
<html>
<head>
<title>Trie Search Engine UI</title>
  <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>

    <nav class="blue darken-3">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center">Trie Search Engine UI</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
          </ul>
        </div>
    </nav>
    <br><br><br><br><br>
    <div id="component" class="component"></div>
    <footer class="page-footer blue darken-3">
        <div class="container">
            <p class="grey-text text-lighten-4">For more on python, checkout my github here: <a href="https://github.com/Jimmycheong" style="color:white">https://github.com/Jimmycheong</a></p>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2014 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
          </div>
        </div>
      </footer>
<script type="text/babel" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
