<!DOCTYPE html>
<html>
<head>
  <title>k2nlearner.com</title>
  <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Nunito|Poiret+One|Yeon+Sung" rel="stylesheet">
</head>


<body>
    <div class="row header-section">
      <div class="col s4 right-align">
        <img class="country-flag" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/255px-Flag_of_South_Korea.svg.png" alt="Italian Trulli">
      </div>
      <div class="col s4">
        <p class="page-logo">k2nlearner</p>    
      </div>
      <div class="col s4 left-align">
        <img 
          class="country-flag" src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1280px-Flag_of_the_United_Kingdom.svg.png" alt="Italian Trulli">
      </div>
    </div>
    <br>
      <div class="center-align">
        <h4 class="korean-sentence">안녕하세요. 내 이름은 장가진이에요. 한국어를 공부하기 좋아습니다.</h4>
      </div>
      <br>
      <div id="component" class="component"></div>
    </div>
  <script type="text/babel" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
